//------------------------------------------------------------
// 	question.scss
// -----------------------------------------------------------
@use "../helpers/variables" as var;

.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-position: center center;
  background-size: cover;

  .progressbar {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    padding-inline-start: 0;
    padding-top: 30px;
    background-color: var.$pale-color;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 10px;
      height: 10px;
      font-size: 20px;
      list-style: none;
      background-color: #fff;
      border-radius: 50%;

      &.step {
        width: 40px;
        height: 40px;
      }

      &.active {
        width: 50px;
        height: 50px;
        font-size: 25px;
        color: #fff;
        background-color: var.$middle-color;
      }
    }
  }

  .question-container {
    display: flex;
    justify-content: center;
    height: 15%;
    padding-top: 50px;
    font-size: 40px;
    background-color: var.$pale-color;

    p {
      z-index: 1;
    }
  }

  .question-wave {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);

    svg {
      position: relative;
      display: block;
      width: calc(102% + 1.3px);
      height: 50%;
    }

    .shape-fill {
      fill: var.$pale-color;
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 0;
    margin: 0 auto;
    font-size: 25px;
  }
  
  .answer-list {
    margin-top: 5%;
    max-width: 130px;
  }

  .answer-item {
    button {
      display: flex;
      align-items: center;
      padding: 0;
      appearance: none;
      cursor: pointer;
      background-color: transparent;
      border: none;
      outline: none;

      &::before {
        display: block;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        content: "";
        background-color: var.$middle-color;
        border-radius: 50%;
      }

      &:hover::before {
        background-color: var.$deep-color;
        transition: all 0.3s;
      }
    }

    input {
      display: none;
    }
  }
}
