//------------------------------------------------------------
// 	result.scss
// -----------------------------------------------------------
@use "../helpers/variables" as var;

.result-wrapper {
  background-color: var.$pale-color;

  .bottom-container {
    padding-top: 50px;
  }

  .result-list {
    width: 300px;
  }

  .result-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

    svg {
      position: relative;
      display: block;
      width: calc(124% + 1.3px);
      height: 300px;
      transform: rotateY(180deg);
    }

    .shape-fill {
      fill: var.$middle-color;
    }
  }

  .result-item {
    z-index: 10;
    display: flex;
    align-items: center;
    padding: 0;

    &::before {
      display: block;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      content: "";
      background-color: var.$middle-color;
      border-radius: 50%;
    }
  }

  p {
    font-size: 20px;
    text-align: center;
  }
}


