//------------------------------------------------------------
// 	splash.scss
// -----------------------------------------------------------
@use "../helpers/variables" as var;

.splash {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: var.$middle-color;
  transform: translateX(0%);
  animation: fadeIn 1s forwards;

  h1 {
    z-index: 1;
    color: #fff;
  }

  img {
    position: absolute;
    display: block;
    width: 50%;
    border-radius: 50%;
    opacity: 0.6;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}
