$pale-color: #fcecd6;
$middle-color: #b39e7a;
$deep-color: #6f5436;

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  background-image: url("../../public/background.png");
  background-position: center center;
  background-size: cover;

  .progressbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;

    gap: 25px;
    padding-inline-start: 0;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #ffffff;
      font-size: 20px;

      &.step {
        width: 40px;
        height: 40px;
      }

      &.active {
        width: 50px;
        height: 50px;
        background-color: $middle-color;
        color: #ffffff;
        font-size: 25px;
      }
    }
  }

  .question-container {
    display: flex;
    justify-content: center;
    height: 20%;
    margin-top: 50px;
    font-size: 40px;
  }

  .list {
    display: grid;
    flex-direction: column;
    padding: 0 20%;
    font-size: 25px;

    gap: 16px;
  }

  .answer-item {
    button {
      display: flex;
      align-items: center;
      padding: 0;
      border: none;
      background-color: transparent;
      outline: none;
      cursor: pointer;

      appearance: none;

      &::before {
        display: block;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        border-radius: 50%;
        background-color: $middle-color;
        content: "";
      }

      &:hover::before {
        background-color: $deep-color;
      }
    }

    input {
      display: none;
    }
  }
}
