@use "variables";

.result-wrapper {
  // background-image: url("../../public/background-result.png");
  background-color: variables.$pale-color;

  .bottom-container {
    padding-top: 50px;
  }

  .result-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

    svg {
      position: relative;
      display: block;
      width: calc(124% + 1.3px);
      height: 300px;
      transform: rotateY(180deg);
    }

    .shape-fill {
      fill: variables.$middle-color;
    }

    /** For mobile devices **/
    @media (max-width: 767px) {
      .custom-shape-divider-bottom-1695191925 svg {
        width: calc(165% + 1.3px);
        height: 216px;
      }
    }
  }

  .result-item {
    display: flex;
    align-items: center;
    padding: 0;
    z-index: 10;

    &::before {
      display: block;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      border-radius: 50%;
      background-color: variables.$middle-color;
      content: "";
    }
  }

  p {
    font-size: 20px;
    text-align: center;
  }
}

.retry-button {
  position: absolute;
  top: 90%;
  left: 60%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 10;

  a {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
  }
}
