// Splash
.splash {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: translateX(0%);
  width: 100vw;
  height: 100vh;
  background-color: #b39e7a;
  animation: fadeIn 1s forwards;

  h1 {
    z-index: 1;
    color: #ffffff;
  }

  img {
    display: block;
    opacity: 0.6;
    position: absolute;
    width: 50%;
    border-radius: 50%;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
